@use "../../assets/styles/partials/font" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/variables" as *;

.about {
  display: flex;
  flex-direction: row;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: "Avenir Next";
    font-size: 12px;
    font-weight: 400;

    @include tablet {
      font-size: 14px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 16px;
    }

    &__item {
      padding: 0 40px;
    }
  }
  &__logo {
    width: 230px;
    height: 30px;
  }
  &__link-active {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
  }
  &__link {
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
  }

  &__button {
    background-color: #7c55ff;
    border: none;
    border-radius: 26px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    width: 130px;

    @include tablet {
      width: 130px;
    }

    @include desktop {
      width: 180px;
    }
  }
}

// .navbar {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

//   &__menu {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     height: 60px;
//     list-style-type: none;
//   }
//   &__item {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     padding: 0 40px;
//     height: 60px;
//     padding-left: 1rem;
//   }
//   &__logo {
//     width: 230px;
//     height: 30px;
//   }

//   &__link-active {
//     list-style-type: none;
//     text-decoration: none;
//     color: black;
//     font-size: 20px;
//     font-weight: 600;
//   }
//   &__link {
//     list-style-type: none;
//     text-decoration: none;
//     color: black;
//     font-size: 16px;
//     font-weight: 400;
//   }
//   &__button {
//     background-color: #7c55ff;
//     border: none;
//     font-family: sans-serif;
//     border-radius: 26px;
//     color: white;
//     font-size: 14px;
//     line-height: 18px;
//     font-weight: 400;
//     height: 40px;
//     width: 130px;
//   }
// }

// .about {
//   display: flex;
//   flex-direction: column;

//   &__logo {
//     margin-top: 2rem;
//     margin-left: 10rem;
//     width: 230px;
//     height: 30px;
//   }

//   &__card {
//     background-color: #fff;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border: 1px solid silver;
//     border-radius: 40px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     width: 668px;
//     height: 550px;
//     margin: 0 auto;
//     margin-top: 5rem;

//     &__title {
//       font-size: 30px;
//       font-weight: 600;
//       line-height: 20px;
//       margin-top: 3rem;
//       border-bottom: 4px solid #7c55ff;
//       padding-bottom: 1rem;
//     }

//     &__subtitle {
//       width: 400px;
//       font-size: 20px;
//       font-weight: 400;
//       line-height: 28px;
//       text-align: center;
//       color: grey;
//     }
//   }
// }
