@use "../../assets/styles/partials/font" as *;
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/variables" as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    &__logo {
      width: 230px;
      height: 30px;
    }

    &__menu {
      display: none;
      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 60px;
        list-style-type: none;
      }
    }
    &__item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 40px;
      height: 60px;
      padding-left: 1rem;
    }

    &__link-active {
      list-style-type: none;
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 600;
    }
    &__link {
      list-style-type: none;
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 400;

      @include tablet {
        list-style-type: none;
        text-decoration: none;
      }
    }
    &__button {
      display: none;

      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7c55ff;
        border: none;
        font-family: sans-serif;
        border-radius: 26px;
        color: white;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        height: 40px;
        width: 130px;
        list-style-type: none;
        text-decoration: none;
      }
    }
  }
  &__card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid silver;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 2rem;

    @include tablet {
      width: 70%;
    }

    @include desktop {
      width: 50%;
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      border-bottom: 4px solid #7c55ff;
      padding: 1rem;

      @include tablet {
        font-size: 30px;
      }

      @include desktop {
        font-size: 36px;
      }
    }

    &__subtitle {
      width: 400px;
      font-size: 12px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: grey;
      width: 90%;

      @include tablet {
        font-size: 16px;
        line-height: 40px;
      }

      @include desktop {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }
}
