@use "../../../assets/styles/partials/font" as *;
@use "../../../assets/styles/partials/mixins" as *;
@use "../../../assets/styles/partials/variables" as *;

.signup {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  &__logo {
    margin-bottom: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;

      @include tablet {
        font-size: 30px;
      }

      @include desktop {
        font-size: 36px;
      }
    }

    &__subtitle {
      width: 400px;
      font-size: 12px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: grey;
      width: 90%;

      @include tablet {
        font-size: 16px;
        line-height: 40px;
        width: 60%;
      }

      @include desktop {
        font-size: 24px;
        line-height: 40px;
        width: 60%;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      &__name {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        &__label {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: grey;
        }
        &__input {
          width: 95%;
          height: 40px;
          border: 1px solid silver;
          border-radius: 12px;
          margin-bottom: 1rem;
          padding-left: 1rem;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          outline: none;
          background-color: #f9fafb;
          color: black;
        }
      }

      &__info {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        &__label {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 1rem;
          color: grey;
        }
        &__input {
          width: 95%;
          height: 40px;
          border: 1px solid silver;
          border-radius: 12px;
          margin-bottom: 1rem;
          background-color: #f9fafb;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          outline: none;
        }
      }
    }
    &__button {
      background-color: #7c55ff;
      border: none;
      font-family: sans-serif;
      border-radius: 12px;
      color: white;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      height: 40px;
      width: 80px;
      margin-top: 3rem;
      margin-left: 1rem;
    }
  }
}
