.header {
  background-image: url("../../assets//images/backgroundimage.png");
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    list-style-type: none;
  }
  &__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    padding-left: 1rem;
  }
  &__logo {
    width: 230px;
    height: 30px;
  }

  &__link-active {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  &__link {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
  }
  &__button {
    background-color: #7c55ff;
    border: none;
    font-family: sans-serif;
    border-radius: 26px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    height: 40px;
    width: 130px;
  }
}
.hero {
  display: flex;
  flex-direction: row;
  margin-left: 12rem;
  margin-top: 5rem;

  &__col__one {
    display: flex;
    flex-direction: column;
    width: 50%;

    &__title {
      width: 80%;
      font-size: 4rem;
      font-weight: 600;
      margin-bottom: 2rem;
      font-family: sans-serif;
    }
    &__subtitle {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    &__button {
      background-color: #7c55ff;
      border: none;
      font-family: sans-serif;
      border-radius: 26px;
      color: white;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      height: 40px;
      width: 130px;
    }
    &__signup {
      font-size: 16px;
      font-weight: 400;
      margin-top: 2rem;

      &-link {
        text-decoration: none;
        color: #7c55ff;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
  &__col__two {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    &__image {
      width: 80%;
      height: 50vh;
    }
  }
}
